@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "./shared/colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-primary;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  padding: 1rem;
}

.App > div + div {
  margin-top: 1rem;
}

.custom-options {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;

  > label {
    padding: 0.5rem;
  }

  input,
  select {
    max-width: 120px;
  }
}

.custom-button {
  display: flex;
  justify-content: center;
  & button:hover {
    background-color: darken($color-primary, 10%);
  }

  button {
    background-color: $color-primary;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    align-items: center;
  }
}

.split-editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid $color-primary-light;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;

  &__title {
    padding: 0.75rem;
    text-align: center;
    background-color: #f6f6f6;
    p {
      margin: 0;
    }
  }

  @media screen and (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.diff-result {
  margin-left: 10%;
  margin-right: 10%;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;
}


.upload-icon {
  cursor: pointer;
}

.editor-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.editor-button p {
  margin: 0;
  font-size: medium;
}


.clear-btn {
  padding: 6px 14px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 4px;
  height: 25px;

  &:hover {
    background: #e0e0e0;
  }
}
